<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.pay.bank">

    <application>
        <activity
            android:name=".capture.digitalinvoice.DigitalInvoiceActivity"
            android:exported="false"
            android:label="@string/gpb_title_digital_invoice"
            android:theme="@style/GiniCaptureTheme" />
    </application>
</manifest>